[submodule "ThermoDSE"]
	path = ThermoDSE
	url = https://github.com/Jian-PENG207/ThermoDSE.git
[submodule "HotSpot"]
	path = HotSpot
	url = https://github.com/uvahotspot/HotSpot.git
[submodule "Rodinia"]
	path = Rodinia
	url = https://github.com/yuhc/gpu-rodinia.git
